<!DOCTYPE html>
<html>
  <head>
    <meta chartset="UTF-8">
    <title>Finstagram</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css"/>
    <link rel="stylesheet" href="../../public/stylesheets/lib.css" type="text/css"/>
    <link rel="stylesheet" href="../../public/stylesheets/normalize.css" type="text/css"/>
 </head>
  
  <body>
   
  <header>
   <h1>Finstagram</h1>
  </header>

 <main class="content" role="main">
  <article class="post">
   <div class="user-info">
    <img src="../../public/images/female020.jpg"></img>
    <h2>Carrol Swansen</h2>
    <h3>15 minutes ago</h3>
   </div>
   <a class="photo" href="../../public/images/davide-cantelli-139887.jpg">
    <img src="../../public/images/davide-cantelli-139887.jpg"></img>
   <a/>
   <div class="button" class="actions">
    1 Likes
    <span class="botton" class="comment count">1 Comments</span>
   </div>
   <ul class="comments">
    <li>
     <p>Great Picture!</p>
    </li>
   </ul>
  </article>

  <article class="post">
   <div class="user-info">
    <img src="../../public/images/male002.jpg"></img>
    <h2>Richard Ghier</h2>
    <h3>20 minutes ago</h3>
   </div>
   <a class="photo" href="../../public/images/jan-erik-waider-144384.jpg">
    <img src="../../public/images/jan-erik-waider-144384.jpg"></img>
   <a/>
   <div class="button" class="actions">
    1 Likes
    <span class="botton" class="comment count">1 Comments</span>
   </div>
   <ul class="comments">
    <li>
     <p>Great Picture!</p>
    </li>
   </ul>
  </article> 

  <article class="post">
   <div class="user-info">
    <img src="../../public/images/female021.jpg"></img>
    <h2>Samantha Smith</h2>
    <h3>25 minutes ago</h3>
   </div>
   <a class="photo" href="../../public/images/ronald-yang-21762.jpg">
    <img src="../../public/images/ronald-yang-21762.jpg"></img>
   <a/>
   <div class="button" class="actions">
    1 Likes
    <span class="botton" class="comment count">1 Comments</span>
   </div>
   <ul class="comments">
    <li>
     <p>Great Picture!</p>
    </li>
   </ul>
  </article>
 </main>
 </body>
</html>